<article class="cta-card">
  <h3 class="cta-card__title h2" data-aos="fade-up">
    <span>Ready to Discuss</span> <br />
    <strong>Your Future Investment?</strong>
  </h3>

  <div
    class="cta-card__desc-text desc-text desc-text--xl"
    data-aos="fade-up"
    data-aos-delay="100"
  >
    <p>
      Leave your contact details, and our team will get in touch to help you and
      answer your questions
    </p>
  </div>

  <div class="cta-card__btn-box" data-aos="fade-up" data-aos-delay="200">
    <a href="#" class="btn btn--white">
      <span class="btn__text">get a free consultation</span>
    </a>
  </div>
</article>
