<section class="section-cta" aria-labelledby="sectionCtaTitle">
  <h2 class="sr-only" id="sectionCtaTitle">CTA</h2>

  <div class="section-cta__container container">
    <div class="section-cta__wrap">
      <article class="cta-card">
        <h3 class="cta-card__title h2">
          Ready to Discuss <strong>Your Future Investment?</strong>
        </h3>

        <div class="cta-card__desc-text">
          <p>
            Leave your contact details, and our team will get in touch to help
            you and answer your questions
          </p>
        </div>

        <div class="cta-card__btn-box">
          <a href="#" class="btn btn--white">
            <span class="btn__text">get a free consultation</span>
          </a>
        </div>
      </article>
    </div>
  </div>
</section>
