<section class="section-facility" aria-labelledby="facilityHeroTitle">
  <figure class="section-facility__bg" aria-hidden="true">
    <img
      src="@img/portfolio/facility/bg.jpg"
      alt=""
      width="1920"
      height="1000"
      loading="lazy"
      decoding="async"
    />
  </figure>

  <div class="section-facility__container container">
    <div class="section-facility__wrap">
      <span aria-hidden="true"></span>

      <div class="section-facility__header">
        <h2 class="section-facility__title" id="facilityHeroTitle">
          SLAM TRUCKING, LLC
        </h2>
      </div>

      <div class="section-facility__footer" aria-label="Facility highlights">
        <ul class="section-facility__stats" role="list">
          <li class="section-facility__stat facility-stat">
            <p class="facility-stat__value">
              <span class="facility-stat__num">2</span>
              <span class="facility-stat__unit">pcs</span>
            </p>

            <p class="facility-stat__label">
              Exterior Dock<br />
              Doors
            </p>
          </li>

          <li class="section-facility__stat facility-stat">
            <p class="facility-stat__value">
              <span class="facility-stat__num">16</span>
              <span class="facility-stat__unit">ft</span>
            </p>

            <p class="facility-stat__label">Clear Height</p>
          </li>

          <li class="section-facility__stat facility-stat">
            <p class="facility-stat__value">
              <span class="facility-stat__num">28</span>
              <span class="facility-stat__unit">pcs</span>
            </p>

            <p class="facility-stat__label">
              Standard Parking<br />
              Spaces
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
