<section class="section-invest" aria-labelledby="sectionInvestTitle">
  <figure class="section-invest__bg" aria-hidden="true">
    <img
      src="@img/home/invest/bg.jpg"
      alt=""
      width="1920"
      height="1000"
      loading="lazy"
      decoding="async"
    />
  </figure>

  <figure
    class="section-invest__decor section-invest__decor--01"
    aria-hidden="true"
  >
    <img
      src="@img/home/invest/decor-01.svg"
      alt=""
      width="590"
      height="890"
      loading="lazy"
      decoding="async"
    />
  </figure>

  <figure
    class="section-invest__decor section-invest__decor--02"
    aria-hidden="true"
  >
    <img
      src="@img/home/invest/decor-02.svg"
      alt=""
      width="590"
      height="890"
      loading="lazy"
      decoding="async"
    />
  </figure>

  <div class="section-invest__container container">
    <div class="section-invest__wrap">
      <div class="section-invest__header">
        <h2 class="section-invest__title" id="sectionInvestTitle">
          Why Invest <strong>With Us</strong>
        </h2>
      </div>

      <div class="section-invest__body">
        <ul class="section-invest__cards">
          <li>
            <include
              src="@cards/_invest-benefit-card.html"
              locals='{ 
                "id": "01",
                "num": "01",
                "title": "Access to Exclusive Deals",
                "description": "Through established relationships with owners, brokers, and banks, we secure opportunities before they reach the open market."
              }'
            ></include>
          </li>

          <li>
            <include
              src="@cards/_invest-benefit-card.html"
              locals='{ 
                "id": "02",
                "num": "02",
                "title": "In-Depth Analytics & Investment Discipline",
                "description": "Every decision is driven by detailed analysis, stress testing, and long-term forecasting — minimizing risks and maximizing returns."
              }'
            ></include>
          </li>

          <li>
            <include
              src="@cards/_invest-benefit-card.html"
              locals='{ 
                "id": "03",
                "num": "03",
                "title": "Full-Cycle Management",
                "description": "We cover the entire investment lifecycle: from capital raising and acquisitions to stabilization, leasing, operations, and refinancing."
              }'
            ></include>
          </li>

          <li>
            <include
              src="@cards/_invest-benefit-card.html"
              locals='{ 
                "id": "04",
                "num": "04",
                "title": "Asset Value Growth",
                "description": "Every decision is driven by detailed analysis, stress testing, and long-term forecasting — minimizing risks and maximizing returns."
              }'
            ></include>
          </li>

          <li>
            <include
              src="@cards/_invest-benefit-card.html"
              locals='{ 
                "id": "05",
                "num": "05",
                "title": "Full-Cycle Management",
                "description": "We cover the entire investment lifecycle: from capital raising and acquisitions to stabilization, leasing, operations, and refinancing."
              }'
            ></include>
          </li>

          <li>
            <include
              src="@cards/_invest-benefit-card.html"
              locals='{ 
                "id": "06",
                "num": "06",
                "title": "Asset Value Growth",
                "description": "Every decision is driven by detailed analysis, stress testing, and long-term forecasting — minimizing risks and maximizing returns."
              }'
            ></include>
          </li>
        </ul>
      </div>

      <div class="section-invest__footer">
        <div class="section-invest__btn-box">
          <a href="#" class="btn btn--dark">
            <span class="btn__text">Get Started</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
