<section class="section-cols" aria-labelledby="sectionOurMissionTitle">
  <div class="section-cols__container container">
    <div class="section-cols__wrap">
      <div class="section-cols__header">
        <h2 class="section-cols__title decor-title" id="sectionOurMissionTitle">
          Our vision
        </h2>
      </div>

      <div class="section-cols__body">
        <div class="section-cols__row">
          <div class="section-cols__col section-cols__col--titles">
            <div class="section-cols__titles">
              <h3 class="section-cols__subtitle">
                Building the Future Through Smart, Purpose-Driven Investment
              </h3>
            </div>
          </div>

          <div class="section-cols__col section-cols__col--text">
            <div class="section-cols__text">
              <div class="section-cols__desc-text desc-text desc-text--xl">
                <p>
                  Crossroad Properties was founded by entrepreneurs with over 25
                  years of experience in the trucking, logistics, and
                  infrastructure industries. Over the years, our team has grown
                  from managing individual assets to building an international
                  network of companies with a strong presence in the U.S.
                  market.
                </p>

                <p>
                  This hands-on experience in the real sector has given us a
                  deep understanding of how businesses operate, what kind of
                  spaces they need, and which solutions drive real efficiency.
                  We see real estate not as a static asset but as a powerful
                  tool for driving economic growth, business development, and
                  urban transformation. Crossroad Properties brings together
                  practitioners for whom investing is a natural extension of
                  entrepreneurship — where every number is backed by real-world
                  experience and every project is built on a deep understanding
                  of processes and the people behind them.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
