<section class="section-cols" aria-labelledby="sectionOurMissionTitle">
  <div class="section-cols__container container">
    <div class="section-cols__wrap">
      <div class="section-cols__header">
        <h2
          class="section-cols__title decor-title"
          id="sectionOurMissionTitle"
          data-aos="fade-right"
        >
          Our Mission
        </h2>
      </div>

      <div class="section-cols__body">
        <div class="section-cols__row">
          <div class="section-cols__col section-cols__col--titles">
            <div class="section-cols__titles">
              <h3
                class="section-cols__subtitle"
                data-aos="fade-right"
                data-aos-delay="100"
              >
                Transforming Real Estate into Opportunity
              </h3>
            </div>
          </div>

          <div class="section-cols__col section-cols__col--text">
            <div
              class="section-cols__text"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="section-cols__desc-text desc-text desc-text--xl">
                <p>
                  The company’s mission is to create investment opportunities
                  based on deep market understanding, precise analytics, and
                  partnerships with leading banks, brokers, and property owners.
                  We develop the urban environment by transforming real estate
                  into leasable and comfortable spaces for business.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
