<section class="section-goal" aria-labelledby="sectionOurGoalTitle">
  <figure class="section-goal__bg" data-img-parallax>
    <img
      src="@img/about-us/our-goal/bg.jpg"
      alt=""
      width="1920"
      height="920"
      loading="lazy"
      decoding="async"
    />
  </figure>

  <div class="section-goal__container container">
    <div class="section-goal__wrap">
      <h2
        class="section-goal__title"
        id="sectionOurGoalTitle"
        data-aos="fade-right"
      >
        Our Goal
      </h2>

      <div
        class="section-goal__desc"
        data-aos="fade-right"
        data-aos-delay="100"
      >
        <div class="section-goal__desc-text desc-text desc-text--xl">
          <p>
            The goal of Crossroad Properties LLC is to build a sustainable and
            scalable portfolio of commercial real estate that delivers stable
            returns to investors, provides tenants with modern and functional
            business spaces, and contributes to more developed and efficient
            urban business environments.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
