<section class="section-purpose" aria-labelledby="sectionPurposeTitle">
  <figure class="section-purpose__decor" aria-hidden="true">
    <img
      src="@img/home/purpose/decor.png"
      alt=""
      width="553"
      height="1319"
      loading="lazy"
      decoding="async"
    />
  </figure>

  <div class="section-purpose__container container">
    <div class="section-purpose__wrap">
      <div class="section-purpose__row">
        <div class="section-purpose__col section-purpose__col--img">
          <figure class="section-purpose__img">
            <img
              src="@img/home/purpose/01.jpg"
              alt=""
              width="600"
              height="600"
              loading="lazy"
              decoding="async"
              data-img-ignore
              data-img-parallax
            />
          </figure>
        </div>

        <div class="section-purpose__col section-purpose__col--text">
          <div class="section-purpose__text">
            <h2 class="section-purpose__title" id="sectionPurposeTitle">
              Investing With <strong>Purpose</strong>
            </h2>

            <div class="section-purpose__desc-text desc-text desc-text--xl">
              <p>
                Crossroad Properties LLC is a private investment firm
                specializing in the acquisition, management, and development of
                commercial real estate. Our activities are built on rigorous
                analytics, deep market expertise, and strong partnerships with
                banks, brokers, and property owners. This approach allows us to
                identify high-potential assets, enhance their value, and create
                attractive terms for tenants and buyers.
              </p>
            </div>

            <div class="section-purpose__btn-box">
              <a href="#" class="btn btn--dark">
                <span class="btn__text">View PORTFOLIO</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
