<section class="space-rooms" aria-labelledby="spaceRoomsTitle">
  <h2 class="sr-only" id="spaceRoomsTitle">Space rooms</h2>

  <div class="space-rooms__container container">
    <div class="space-rooms__wrap">
      <ul class="space-rooms__list" role="list">
        <li class="space-rooms__item space-room">
          <div class="space-room__text">
            <h3 class="space-room__label">Spacious administration premises</h3>
          </div>

          <div class="space-room__img-wrap">
            <figure class="space-room__img">
              <img
                src="@img/portfolio/space-rooms/01.jpg"
                alt="Spacious administration premises"
                width="232"
                height="232"
                loading="lazy"
                decoding="async"
              />
            </figure>
          </div>
        </li>

        <li class="space-rooms__item space-room">
          <div class="space-room__text">
            <h3 class="space-room__label">Dedicated Conference Space</h3>
          </div>

          <div class="space-room__img-wrap">
            <figure class="space-room__img">
              <img
                src="@img/portfolio/space-rooms/02.jpg"
                alt="Dedicated conference space"
                width="232"
                height="232"
                loading="lazy"
                decoding="async"
              />
            </figure>
          </div>
        </li>

        <li class="space-rooms__item space-room">
          <div class="space-room__text">
            <h3 class="space-room__label">Comfortable work area</h3>
          </div>

          <div class="space-room__img-wrap">
            <figure class="space-room__img">
              <img
                src="@img/portfolio/space-rooms/03.jpg"
                alt="Comfortable work area"
                width="232"
                height="232"
                loading="lazy"
                decoding="async"
              />
            </figure>
          </div>
        </li>

        <li class="space-rooms__item space-room">
          <div class="space-room__text">
            <h3 class="space-room__label">Employee Break &amp; Dining Area</h3>
          </div>

          <div class="space-room__img-wrap">
            <figure class="space-room__img">
              <img
                src="@img/portfolio/space-rooms/04.jpg"
                alt="Employee break and dining area"
                width="232"
                height="232"
                loading="lazy"
                decoding="async"
              />
            </figure>
          </div>
        </li>

        <li class="space-rooms__item space-room">
          <div class="space-room__text">
            <h3 class="space-room__label">Employee Break &amp; Dining Area</h3>
          </div>

          <div class="space-room__img-wrap">
            <figure class="space-room__img">
              <img
                src="@img/portfolio/space-rooms/05.jpg"
                alt="Employee break and dining area"
                width="232"
                height="232"
                loading="lazy"
                decoding="async"
              />
            </figure>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
