<section class="section-space" aria-labelledby="sectionSpaceTitle">
  <h2 class="sr-only" id="sectionSpaceTitle">Space</h2>

  <figure class="section-space__bg">
    <img
      src="@img/portfolio/space/bg.jpg"
      alt=""
      width="1920"
      height="1080"
      loading="lazy"
      decoding="async"
    />
  </figure>

  <div class="section-space__container container">
    <div class="section-space__wrap">
      <include
        src="@cards/_space-card.html"
        locals='{ "bemClasses": "section-space__card" }'
      ></include>
    </div>
  </div>
</section>
