<section class="section-types" aria-labelledby="sectionTypesTitle">
  <figure class="section-types__bg" aria-hidden="true">
    <img
      src="@img/home/types/bg.jpg"
      alt=""
      width="1920"
      height="900"
      loading="lazy"
      decoding="async"
    />
  </figure>

  <div class="section-types__container container">
    <div class="section-types__wrap">
      <div class="section-types__header">
        <h3 class="section-types__subtitle">Investment for enterpreneurs</h3>

        <h2 class="section-types__title" id="sectionTypesTitle">
          Private Equity Real Estate
        </h2>
      </div>

      <div class="section-types__body">
        <ul class="section-types__cards">
          <li>
            <include
              src="@cards/_type-card.html"
              locals='{ 
                "id": "01",
                "img": "@img/home/types/01.png",
                "url": "#",
                "title": "Company"
              }'
            ></include>
          </li>

          <li>
            <include
              src="@cards/_type-card.html"
              locals='{ 
                "id": "02",
                "img": "@img/home/types/02.png",
                "url": "#",
                "title": "Expertise"
              }'
            ></include>
          </li>

          <li>
            <include
              src="@cards/_type-card.html"
              locals='{ 
                "id": "03",
                "img": "@img/home/types/03.png",
                "url": "#",
                "title": "Portfolio"
              }'
            ></include>
          </li>

          <li>
            <include
              src="@cards/_type-card.html"
              locals='{ 
                "id": "04",
                "img": "@img/home/types/04.png",
                "url": "#",
                "title": "Contact"
              }'
            ></include>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
