@use '@styles/helpers' as *;

/* Benefit Card */
.benefit-card {
  &__num {
    padding-block-end: rem(1);
    font-size: rem(40);
    font-weight: 600;
    line-height: 1.625;
    letter-spacing: rem(1);
    border-block-end: rem(1) solid currentcolor;

    &:not(:last-child) {
      margin-block-end: rem(16);
    }
  }

  &__title {
    font-size: rem(20);
    font-weight: 600;
    line-height: 1.2;

    &:not(:last-child) {
      margin-block-end: rem(30);
    }
  }

  &__desc-text {
    font-size: rem(16);
    font-weight: 500;
    line-height: 1.5;
    color: var(--color-gray-brilliant);
  }
}
