@use '@styles/helpers' as *;

/* Invest Benefit Card */
.invest-benefit-card {
  display: block;

  &__num {
    font-family: var(--font-family-secondary);
    font-size: rem(100);
    font-weight: 600;
    line-height: var(--display-line-height);
    color: rgb(84 139 129 / 10%);
  }

  &__title {
    font-size: rem(20);
    font-weight: 600;

    &:not(:last-child) {
      margin-block-end: rem(20);
    }

    &:not(:first-child) {
      margin-block-start: rem(-60);
    }
  }

  &__desc-text {
    font-size: rem(20);
  }
}
