<footer class="footer" role="contentinfo">
  <div class="footer__container container">
    <div class="footer__wrap">
      <div class="footer__top footer-top">
        <div class="footer-top__row">
          <div class="footer-top__info">
            <h3 class="footer-top__heading">
              Let's Keep in Touch - Be the First to Know What's Coming
            </h3>

            <div class="footer-top__subscribe footer-subscribe">
              <div class="footer-subscribe__input input">
                <input
                  type="email"
                  name="email"
                  id="emailControl"
                  placeholder="Your email address"
                />
              </div>

              <button class="footer-subscribe__btn" aria-label="Submit Email">
                <i class="icon-mail" aria-hidden="true"></i>
              </button>
            </div>
          </div>

          <nav class="footer-top__nav">
            <ul class="footer-top__menu">
              <li>
                <a href="#">Company</a>
              </li>
              <li>
                <a href="#">Expertise</a>
              </li>
              <li>
                <a href="#">Portfolio</a>
              </li>
              <li>
                <a href="#">Contact us</a>
              </li>
              <li>
                <a href="#">Terms & Conditions</a>
              </li>
              <li>
                <a href="#">Privacy Policy</a>
              </li>
              <li>
                <a href="#">FAQ</a>
              </li>
            </ul>
          </nav>

          <ul class="footer-top__contacts">
            <li>
              <div class="footer-contact">
                <div class="footer-contact__label">Drop us a line</div>

                <a href="#" class="footer-contact__value">info@crossroad.com</a>
              </div>
            </li>

            <li>
              <div class="footer-contact">
                <div class="footer-contact__label">call us</div>

                <a href="#" class="footer-contact__value">+1 (123) 456-7890</a>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer__bottom footer-bottom">
        <small class="footer-bottom__copyright">
          © Crossroad 2025. All rights reserved
        </small>
      </div>
    </div>
  </div>
</footer>
