<header class="header [[classes]]">
  <div class="header__container container">
    <div class="header__wrap">
      <a href="/" class="header__logo">
        <img
          src="assets/img/logo.webp"
          alt="Crossroad Logo, to the homepage"
          width="230"
          height="69"
          fetchpriority="high"
        />
      </a>

      <include
        src="@layout/_menu.html"
        locals='{ "bemClasses": "header__menu" }'
      ></include>
    </div>
  </div>
</header>
