<div class="[[bemClasses]] menu" data-menu>
  <span id="nav-label" class="sr-only">Navigation</span>

  <button
    class="menu__btn"
    title="Menu"
    aria-label="Open Menu"
    aria-expanded="false"
    aria-labelledby="nav-label"
    aria-controls="site-menu"
    data-menu-burger
  >
    <span aria-hidden></span>
  </button>

  <nav
    class="menu__body"
    id="site-menu"
    role="navigation"
    aria-label="Main Navigation"
    data-menu-body
  >
    <ul class="menu__list">
      <li>
        <a href="#">About us</a>
      </li>

      <li>
        <a href="#">Expertise</a>
      </li>

      <li>
        <a href="#">Portfolio</a>
      </li>

      <li>
        <a href="#">Contact us</a>
      </li>
    </ul>

    <div class="menu__btn-box">
      <a href="#" class="btn btn--white">
        <span class="btn__text">Invest with Us</span>
      </a>
    </div>
  </nav>
</div>
