@forward 'section';
@forward 'hero';
@forward 'cta';
@forward 'invest';
@forward 'services';
@forward 'purpose';
@forward 'types';
@forward 'goal';
@forward 'expertise-hero';
@forward 'cols';
@forward 'contact';
@forward 'benefits';
@forward 'portfolio-hero';
@forward 'space';
@forward 'space-rooms';
