@use '@styles/helpers' as *;

/* Section Cols */
.section-cols {
  &--decored {
    .section-cols__wrap {
      padding-block: rem(200) rem(100);
    }
  }

  &__wrap {
    padding-block: rem(50);
  }

  &__row {
    --col-width: 100%;
    --col-gap: 1rem;

    display: flex;
    flex-wrap: wrap;
    margin-inline: calc(var(--col-gap) / 2 * -1);
    row-gap: var(--col-gap);

    @include respond-above(md) {
      --col-width: 50%;
      --col-gap: 2rem;
    }
  }

  &__col {
    flex: 0 0 var(--col-width);
    max-width: var(--col-width);
    padding-inline: calc(var(--col-gap) / 2);

    &--titles {
      @include respond-above(md) {
        --col-width: 43.5%;
      }
    }

    &--text {
      @include respond-above(md) {
        --col-width: 56.5%;
      }
    }
  }

  &__header {
    &:not(:last-child) {
      margin-block-end: rem(32);
    }
  }

  &__title {
    &:not(:last-child) {
      margin-block-end: rem(32);
    }
  }

  &__subtitle {
    font-size: rem(30);
    font-weight: 600;
    color: var(--color-black);
    border-inline-start: rem(2) solid var(--color-primary);
    padding-inline-start: rem(20);
  }
}
