@use '@styles/helpers' as *;

/* Section Contact */
.section-contact {
  &__wrap {
    padding-block: rem(42) rem(26);
  }

  &__breadcrumbs {
    &:not(:last-child) {
      margin-block-end: rem(80);
    }
  }

  &__row {
    --col-width: 100%;
    --col-gap: 1rem;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-inline: calc(var(--col-gap) / 2 * -1);
    row-gap: var(--col-gap);

    @include respond-above(md) {
      --col-width: 50%;
      --col-gap: 2rem;
    }

    &:not(:last-child) {
      margin-block-end: rem(100);
    }
  }

  &__col {
    flex: 0 0 var(--col-width);
    max-width: var(--col-width);
    padding-inline: calc(var(--col-gap) / 2);
  }

  &__title {
    font-weight: 700;

    &:not(:last-child) {
      margin-block-end: rem(16);
    }
  }

  &__desc-text {
    &:not(:last-child) {
      margin-block-end: rem(56);
    }
  }

  &__cards {
    display: grid;
    gap: rem(32);
    grid-template-columns: var(--grid-3);

    > li {
      > .contact-card {
        min-block-size: 100%;
      }
    }
  }

  &__img {
    overflow: hidden;
    border-radius: rem(2);

    picture {
      display: contents;
    }

    img {
      display: block;
      object-fit: cover;
      block-size: auto;
      inline-size: 100%;
    }
  }
}
