@use '@styles/helpers' as *;

/* Section Facility */
.section-facility {
  position: relative;
  overflow: hidden;
  background-color: var(--color-black);
  color: var(--color-white);

  &__bg {
    position: absolute;
    inset: 0;
    pointer-events: none;

    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      inset: 0;
      background: linear-gradient(0deg, rgb(0 0 0 / 20%) 0%, rgb(0 0 0 / 20%) 100%);
      mix-blend-mode: multiply;
      pointer-events: none;
    }

    picture {
      display: contents;
    }

    img,
    video {
      display: block;
      object-fit: cover;
      block-size: 100%;
      inline-size: 100%;
      max-block-size: 100%;
    }
  }

  &__wrap {
    position: relative;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-block-size: 100svh;
    padding-block: rem(110);
    row-gap: rem(24);
  }

  &__title {
    font-weight: 600;
    text-transform: uppercase;
  }

  &__stats {
    display: grid;
    gap: rem(30);
    grid-template-columns: var(--grid-3);

    @include respond-below(md) {
      grid-template-columns: var(--grid-2);
    }

    @include respond-below(sm) {
      grid-template-columns: var(--grid-1);
    }

    > li {
      > .facility-stat {
        min-block-size: 100%;
      }
    }
  }
}

/* Facility Stat */
.facility-stat {
  display: grid;
  align-items: center;
  gap: var(--space-2);
  grid-template-columns: var(--grid-2);
  border-radius: rem(1);
  padding: rem(32) rem(28) rem(16);
  background-color: rgba(#d9d9d9, 0.7);
  color: var(--color-text);
  backdrop-filter: blur(0.125rem);

  &__value {
    display: flex;
    align-items: baseline;
    font-family: var(--display-font-family);
    font-weight: 600;
    line-height: 1.2;
  }

  &__num {
    font-size: rem(60);
  }

  &__unit {
    font-size: rem(40);
  }

  &__label {
    font-size: rem(20);
    font-weight: 600;
    line-height: 1.2;
  }
}
