@use '@styles/helpers' as *;

/* Section Goal */
.section-goal {
  position: relative;
  overflow: hidden;
  background-color: var(--color-black);
  color: var(--color-white);

  &__bg {
    position: absolute;
    inset: 0;
    pointer-events: none;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-color: var(--color-black-30);
    }

    picture {
      display: contents;
    }

    img {
      display: block;
      object-fit: cover;
      block-size: 100%;
      inline-size: 100%;
      max-block-size: 100%;
    }
  }

  &__wrap {
    position: relative;
    z-index: 9;
    min-block-size: 100svh;
    padding-block: rem(160);
  }

  &__title {
    font-family: var(--body-font-family);
    font-size: rem(14);
    font-weight: 600;
    line-height: var(--body-line-height);
    letter-spacing: rem(2.24);
    text-transform: uppercase;

    &:not(:last-child) {
      margin-block-end: rem(32);
    }
  }

  &__desc {
    border-inline-start: rem(2) solid var(--color-white);
    max-inline-size: rem(724);
    padding-block: rem(8);
    padding-inline-start: rem(20);
  }
}
