@use '@styles/helpers' as *;

/* Portfolio Hero */
.portfolio-hero {
  position: relative;
  overflow: hidden;
  background-color: var(--color-black);
  color: var(--color-white);
  isolation: isolate;

  &__bg {
    position: absolute;
    inset: 0;
    pointer-events: none;

    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      inset: 0;
      background: linear-gradient(0deg, rgb(43 42 60 / 60%) 0%, rgb(43 42 60 / 60%) 100%);
      mix-blend-mode: multiply;
    }

    img {
      display: block;
      object-fit: cover;
      block-size: 100%;
      inline-size: 100%;
      max-block-size: 100%;
    }
  }

  &__wrap {
    position: relative;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-block-size: 100svh;
    padding-block: rem(120);
  }

  &__title-wrap {
    overflow: hidden;
  }

  &__title {
    max-inline-size: rem(1060);

    strong {
      font-weight: 600;
    }
  }
}
