@use '@styles/helpers' as *;

/* Section Types */
.section-types {
  position: relative;
  overflow: hidden;
  background-color: #548b81;
  color: var(--color-white);

  &__bg {
    position: absolute;
    inset: 0;
    pointer-events: none;

    img {
      display: block;
      object-fit: cover;
      object-position: right top;
      block-size: 100%;
      inline-size: 100%;
      max-block-size: 100%;
    }
  }

  &__wrap {
    position: relative;
    z-index: 9;
    padding-block: rem(130) rem(140);
  }

  &__header {
    &:not(:last-child) {
      margin-block-end: rem(89);
    }
  }

  &__subtitle {
    font-size: rem(30);
    line-height: 1.4;

    &:not(:last-child) {
      margin-block-end: rem(7);
    }
  }

  &__title {
    font-weight: 600;
  }

  &__cards {
    display: grid;
    gap: rem(40);
    grid-template-columns: var(--grid-4);
  }
}
